<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724202841407-1njjmbn1nmvuouenqbcamgch3k21ol8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724202841407-1njjmbn1nmvuouenqbcamgch3k21ol8r</string>
	<key>API_KEY</key>
	<string>AIzaSyBA_ykdpxM2x6SXu8_l_vAW3mPlkkbtmNM</string>
	<key>GCM_SENDER_ID</key>
	<string>724202841407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducpv.flutterPokedex</string>
	<key>PROJECT_ID</key>
	<string>ducpv-pokedex</string>
	<key>STORAGE_BUCKET</key>
	<string>ducpv-pokedex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724202841407:ios:31dd038286870581dc1f8a</string>
</dict>
</plist>